body {
  font-family: "Open Sans";
  margin: 88px 80px 48px 80px;
}

h1,
h2,
h3 {
  color: #1b1b1b;
}

ol {
  padding: 0;
  margin: 0;
}

#headline {
  margin-top: 0;
  color: #e1624f;
  font-size: 16px;
  font-weight: bold;
}

#titlePage h2 {
  margin: 0;
  font-size: 32px;
}

#descriptionImage img {
  width: 100%;
  object-fit: cover;
  margin: 40px 0 24px 0;
  border-radius: 28px;
}

#descriptionImage figcaption {
  color: #333333;
  text-align: center;
  font-style: italic;
}

#hr1 {
  margin: 40px 0 0 0;
  background-color:  #d9d9d9;
  border: 0;
  height: 1px;
}

#titleList {
  margin: 64px 0;
}

#titleList h2 {
  font-size: 32px;
  margin: 8px 0;
}

#descriptionMalta {
  color: #333333;
  margin: 0px;
}

#poppeyeVillageImg {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 28px;
  margin: 0 0 20px 0;
}

#lista h3 {
  font-size: 28px;
  margin: 0 0 8px 0;
}

#liPoppeyeVillage {
  font-size: 28px;
  font-weight: bold;
  color: #1b1b1b;
}

#liPoppeyeVillage h3 {
  margin-bottom: 4px;
}

#descPoppeyeVillage {
  font-size: 16px;
  font-weight: normal;
  color: #333333; 
  margin-top: 0;
  margin-left: 0;
}

#lista ul {
  padding: 0;
  list-style-type: disc;
}

#lista h4 {
  margin-bottom: 4px;
}

#lista li {
  margin-left: 32px;
  
}

#lista ul li::marker {
  color: #333333;
} 

#historia {
  color: #0C51A7;
  font-weight: bold;
}

#blueGrottoImg {
  margin: 48px 0px 20px 0px;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 28px;
}

#liBlueGrotto {
  font-size: 28px;
  font-weight: bold;
  color: #1b1b1b;
}

#descBlueGrotto {
  margin-top: 0;
  color: #333333; 
}

#h3BlueGrotto {
  margin-bottom: 16px;
}

#liBlueGrotto h3 {
  margin-bottom: 4px;
}

#aventura {
  font-weight: bold;
  color: #E95E10;
}

#imgValettaMalta {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 28px;
  margin: 48px 0px 20px 0px;
}

#liValetta {
  font-size: 28px;
  font-weight: bold;
  color: #1b1b1b;
}

#liValetta h3 {
  margin-bottom: 4px;
}

#descValetta {
  margin-top: 0;
  color: #333333; 
}

#casais {
  color: #591B98;
  font-weight: bold;
}

#cultura {
  color: #32CD32;
  font-weight: bold;
}

#hr2 {
  margin: 40px 0;
  background-color:  #d9d9d9;
  border: 0;
  height: 1px;
}

#pFinal {
  text-align: center;
  margin: 0 0 65px 0;
  color: #333333;  
}

footer {
  text-align: center;
}

